<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizacion de Datos</title>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <form method="post">
        <select name='selectCoin' onchange='this.form.submit()'>
            <option>Selecciona una moneda</option>
            <option value="avalanche-2">Avalanche (AVAX)</option>
            <option value="binancecoin">Binance (BNB)</option>
            <option value="bitcoin">Bitcoin (BTC) </option>
            <option value="cardano">Cardano (ADA)</option>
            <option value="decentraland">Decentraland (MANA)</option>
            <option value="dogecoin">Dogecoin (DOGE)</option>
            <option value="ethereum">Ethereum (ETH)</option>
            <option value="ripple">Ripple (XRP)</option>
            <option value="solana">Solana (SOL)</option>
            <option value="tether">Tether (USDT)</option>
            
        </select>
    </form>

    <div>
        <p>
            Positive Sentiment :
            <%- mData.sentiment_votes_up_percentage %> %
        </p>
    </div>
    <div>
        <p>
            High 24Hrs :
            <%- mData.market_data.high_24h["usd"] %> 
        </p>
    </div>
    <div>
        <p>
            Low 24Hrs :
            <%- mData.market_data.low_24h["usd"] %> 
        </p>
    </div>
    <div>
        <p>
            Market Cap 24Hr :
            <%- mData.market_data.market_cap_change_percentage_24h %> %
        </p>
    </div>

    <div id="chart">

    </div>


<script>
    let mCapData = '<%- JSON.stringify(mChart.market_caps) %>'
    mCapData = String(mCapData)
    mCapData = JSON.parse(mCapData)
    // console.log(charData)

    let mVolData = '<%- JSON.stringify(mChart.total_volumes) %>'
    mVolData = String(mVolData)
    mVolData = JSON.parse(mVolData)
    var options = {
        chart: {
                height:300,
                width:800,
            type: 'area'
        },
        series: [{
            name: 'Market Cap',
            data: mCapData,
            type: "area"
        },
        {
            name: 'Total Volume',
            data: mVolData,
            type: "line"
        }],

        xaxis: {
            type: "datetime"
        },
        dataLabels:{
            enabled: false
        },

        yaxis:[{
            title: {
                text: 'Series A',
            },
        },
        {
            oposite: true,
                title: {
                    text: 'Series B',
                },
            },        
        ]
    }
    
    var chart = new ApexCharts(document.querySelector("#chart"), options);
    
    chart.render();
</script>

</body>

</html>