<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/02d8bfeaeb805e69f0b04e0f78697ec3?family=NHaasGroteskDSPro-65Md" rel="stylesheet" type="text/css"/> 
    <title>Visualizacion de Datos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

    <body class="bg-image" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://wallpaperaccess.com/full/2095724.png');
    height: 100vh; ">
        <div class = "mask gradient-custom">
            <nav class="navbar navbar-expand-lg bg-info ">
                <div class="container-fluid"></div>
                    <form method="post">
                        <select name='selectCoin' onchange='this.form.submit()'>
                            <option>Selecciona una moneda</option>
                            <option value="avalanche-2">Avalanche (AVAX)</option>
                            <option value="binancecoin">Binance (BNB)</option>
                            <option value="bitcoin">Bitcoin (BTC) </option>
                            <option value="cardano">Cardano (ADA)</option>
                            <option value="decentraland">Decentraland (MANA)</option>
                            <option value="dogecoin">Dogecoin (DOGE)</option>
                            <option value="ethereum">Ethereum (ETH)</option>
                            <option value="ripple">Ripple (XRP)</option>
                            <option value="solana">Solana (SOL)</option>
                            <option value="tether">Tether (USDT)</option>
                        </select>
                    </form>
                    <a  class="navbar-brand d-flex ml-auto display-2 text-white fs-2 fw-bold text-uppercase "
                    style="font-family: 'NHaasGroteskDSPro-65Md'; text-shadow: 4px 4px #1a1a1a" href="#">Crypto DashBoard</a>
                <div>
            </nav>
            
            <div class="fs-1 fw-bold m-3 text-Cpitalize 
                style="
                font-family: 'NHaasGroteskDSPro-65Md'; 
                margin-top: 3px !important; 
                margin-bottom: 0px !important;"> 

                <%- mData.name %>
            </div>

            <section class="row m-3 mb-0" style="margin-top: 2p !important;">

                <!-- Capitalizacion de Mercado -->
                <div class="card text-white text-center m-3" 
                    style="
                        margin-top: 0px !important; 
                        width: 11rem;
                        background-color: rgb(43,43,43)">
                        <div class="card-body">
                            <h6 class="card-title" 
                                style="
                                font-family: 'NHaasGroteskDSPro-65Md'"> Market Cap 24Hrs</h6>
                                <p class="card-text fw-bold fs-5" style="color: #6f00ff;">
                                    <%- mData.market_data.market_cap_change_percentage_24h %> %
                                </p>
                        </div>
                </div>

                <!-- Precio Maximo de todos los tiempos -->
                <div class="card text-white text-center m-3" 
                    style="
                        margin-top: 0px !important; 
                        width: 11rem;
                        background-color: rgb(43,43,43)">
                        <div class="card-body">
                            <h6 class="card-title" 
                                style="
                                font-family: 'NHaasGroteskDSPro-65Md'"> All time High</h6>
                                <p class="card-text fw-bold fs-5" style="color: #6f00ff;">
                                    $ <%- mData.market_data.ath.usd %>
                                </p>
                        </div>
                </div>

                <!-- Precio Minimo de todos los tiempos -->
                <div class="card text-white text-center m-3" 
                    style="
                        margin-top: 0px !important; 
                        width: 11rem;
                        background-color: rgb(43,43,43)">
                        <div class="card-body">
                            <h6 class="card-title" 
                                style="
                                font-family: 'NHaasGroteskDSPro-65Md'"> All time Low</h6>
                                <p class="card-text fw-bold fs-5" style="color: #6f00ff;">
                                    $ <%- mData.market_data.atl.usd %>
                                </p>
                        </div>
                </div>

                <!-- Sentiminetos positivos -->
                <div class="card text-white text-center m-3" 
                    style="
                        margin-top: 0px !important; 
                        width: 11rem;
                        background-color: rgb(43,43,43)">
                        <div class="card-body">
                            <h6 class="card-title" 
                                style="
                                font-family: 'NHaasGroteskDSPro-65Md'"> Positive Sentiments</h6>
                                <p class="card-text fw-bold fs-5" style="color: #6f00ff;">
                                    <%- mData.sentiment_votes_up_percentage %> %
                                </p>
                        </div>
                </div>

                <!--precio mas alto las utlimas 24 horas-->
                <div class="card text-white text-center m-3" 
                    style="
                        margin-top: 0px !important; 
                        width: 11rem;
                        background-color: rgb(43,43,43)">
                        <div class="card-body">
                            <h6 class="card-title" 
                                style="
                                font-family: 'NHaasGroteskDSPro-65Md'">24Hrs High</h6>
                                <p class="card-text fw-bold fs-5" style="color: #3cff00;">
                                    $ <%- mData.market_data.high_24h["usd"] %>
                                </p>
                        </div>
                </div>

                <!--precio mas bajo las utlimas 24 horas-->
                <div class="card text-white text-center m-3" 
                    style="
                        margin-top: 0px !important; 
                        width: 11rem;
                        background-color: rgb(43,43,43)">
                        <div class="card-body">
                            <h6 class="card-title" 
                                style="
                                font-family: 'NHaasGroteskDSPro-65Md'">24Hrs Low</h6>
                                <p class="card-text fw-bold fs-5" style="color: #ff0000;">
                                    $ <%- mData.market_data.low_24h["usd"] %>
                                </p>
                        </div>
                </div>

            </section>
            <div>
                <!-- Encabezado del precio actual -->
                <div class="texxt-white text-center" 
                    style="
                    font-family: 'NHaasGroteskDSPro-65Md';
                    overflow: visible;
                    height: 2px;
                    margin-top: 1%;">
                    Precio Actual
                </div>

                <!-- Precio actual -->
                <div style="
                    font-family: 'NHaasGroteskDSPro-65Md';
                    font-size: 90px;
                    font-weight: 700;
                    color: #ffffff;
                    text-decoration: none solid #ffffff;
                    text-align: center;
                    ">
                    $ <%- mData.market_data.current_price.usd %>
                </div>
            </div>



            <div id="chart">

            </div>
        </div>

    <script>
        let mCapData = '<%- JSON.stringify(mChart.market_caps) %>'
        mCapData = String(mCapData)
        mCapData = JSON.parse(mCapData)
        // console.log(charData)

        let mVolData = '<%- JSON.stringify(mChart.total_volumes) %>'
        mVolData = String(mVolData)
        mVolData = JSON.parse(mVolData)
        var options = {
            chart: {
                    height:300,
                    width:800,
                type: 'line'
            },
            series: [{
                name: 'Market Cap',
                data: mCapData,
                type: "area"
            },
            {
                name: 'Total Volume',
                data: mVolData,
                type: "line"
            }],

            xaxis: {
                type: "datetime"
            }, dataLabels:{
                enabled: false
            },

            yaxis: [
            {
                title: {
                    text: "Series A"
                }
            },
            {
                opposite: true,
                title: {
                    text: "Series B"
                }
            }
            ],
            colors: ['#0080ff','#00ff9d']
        }
        
        var chart = new ApexCharts(document.querySelector("#chart"), options);
        
        chart.render();
    </script>

    </body>

    </html>